@import userChrome.css;

@-moz-document url("about:newtab") {  
        .search-inner-wrapper {
			display: none !important; 
		} 
		.top-site-outer, .tile, .rich-icon, .top-site-icon {
			background-color: var(--newtab-background-color-primary) !important;
			width: 10px;
			box-shadow: none !important;
		}
		#newtab-margin-top, #newtab-search-container {
			display: none !important;
		}
			body {
			background-color: #151a1f !important;
        }  
}